* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ff229c;
  text-align: center;
  height: 100vh;
  padding: 2em;
}

#intro-screen {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black overlay */
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  display: block;
}

#intro-screen img {
  max-width: 50%;
}

#in-game-screen {
  display: none;
  height: 100%;
  position: relative;
}

#game-arena {
  border: 1px solid purple;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: x-large;
  color: #dfe920;
  margin: 0;
  position: top;
}

h2 {
  font-size: large;
  color: #3e0edd;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  background-color: #000000;
}

/*p {
  font-size: 24px;
  color: #ffffff;
  margin: 20px 0;
}*/

.button {
  background-color: #e8fa28;
  color: rgb(3, 0, 0);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: #2a14d3;
}

#catingr {
  position: absolute;
  top: 0;
  left: 0;
  
}

#spongeingr {
  position: absolute;
  top: 0;
  right: 0;
  
}

#absentingr {
  position: absolute;
  bottom: 0;
  left: 0;
  /
}

#hungoverdandelion {
  position: absolute;
  bottom: 0;
  right: 0;
  
}

.ingredient {
  width: 50px;
  height: 50px;
}

#win-screen{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}

.player-status {
  position: absolute;
  left : 50%;
}

